@import '~theme/workpi.scss';

.workpi-navbar {
  position: relative;
  display: flex;
  // background: $grad-primary-tb-gutter;//$color-primary-1;
  background: $color-primary-1;
  height: 48px;
  align-items: center;
  padding: 0 20px;
  font-size: 0.8em;
  border-bottom: 1px solid $color-primary-2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  z-index: $z-level-content-top;

  @include small-screen {
    background: $color-bg;
    padding: 0;
    border: none;
    border-top: 1px solid $color-primary-2;
    order: 2;
    box-shadow: none;
  }


  @include normal-screen {

    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 8px;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    }

  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: -32px;
  //   height: 32px;
  //   left: 0;
  //   right: 0;
  //   background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0));
  //   // background: linear-gradient(to top, rgba(255,255,255,255.1), rgba(255,255,255,0));
  // }

  &>.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    border-right: 1px solid $color-primary-2;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: $grad-primary-tb;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-level-content;
      opacity: 0;
      transition: 300ms opacity;
    }

    &:first-child {
      border-left: 1px solid $color-primary-2;
    }

    &.active {
      &::before {
        opacity: 1;
      }

      a {
        font-weight: bold;
      }
    }

    &:hover {

      //$color-primary-2;
      &::before {
        opacity: 1;
      }
    }

    a {
      color: $color-fg;
      text-decoration: none;
      z-index: $z-level-content + 1;
      padding-top: 4px;
    }
  }
}