@import "~theme/workpi.scss";

.personal-info-list {
  font-size: 7px;
  text-transform: capitalize;
  text-align: left;
  line-height: 0.2;
  box-shadow: $glow-shadow;
  padding: 5px;
  border-radius: 4px;
}

.label {
  display: inline;
  position: relative;
  cursor: pointer;
  margin-left: 14px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.geekmark {
  position: absolute;
  top: -3px;
  left: -12px;
  height: 8px;
  width: 8px;
  background-color: $color-grey-1;
  border-radius: 4px;
  border: solid 1px $color-primary-2;
}

.label:hover input ~ .geekmark {
  background: $grad-bg;
  box-shadow: $glow-primary-2;
}

.label input:active ~ .geekmark {
  background-color: $color-primary-2;
}
.label input:checked ~ .geekmark { 
  background-color: $color-primary-1; 
} 
