@import './workpi.gen.scss';
@import './grid-layout.scss';

$color-primary-1: rgba(253, 221, 77, 1);
$color-primary-2: rgba(248, 195, 50, 1);
$color-alert: rgb(219, 58, 37);
$color-grey-1: #eee;
$color-grey-2: #bbb;
$color-fg: black;
$color-bg: white;
$color-shadow: rgba(0,0,0,0.05);

$grad-primary: linear-gradient(to right, $color-primary-1, $color-primary-2);
$grad-primary-2: linear-gradient(to right, $color-primary-2, $color-primary-1);
$grad-primary-tb: linear-gradient(to bottom, $color-primary-2, $color-primary-1);
// $grad-primary-tb-bg: linear-gradient(to bottom, lighten($color-primary-1, 30%), $color-bg);
$grad-primary-tb-gutter: linear-gradient(to bottom, darken($color-primary-1, 15%), $color-primary-1 16%, $color-primary-1 84%, darken($color-primary-1, 15%));

$grad-grey-tb: linear-gradient(to bottom, $color-grey-1, $color-bg);
$grad-grey-dark: linear-gradient(to bottom, $color-grey-2, $color-fg);

$grad-bg: linear-gradient(to bottom, rgb(250, 250, 250), rgb(235, 235, 235));

$color-dark-primary-1: rgba(253, 221, 77, 1);
$color-dark-primary-2: rgba(248, 195, 50, 1);
$color-dark-grey-1: #333;
$color-dark-grey-2: #666;
$color-dark-fg: white;
$color-dark-bg: black;

$grad-dark-primary: linear-gradient(to right, $color-dark-primary-2, $color-dark-primary-1);
$grad-dark-bg: linear-gradient(to bottom, rgb(50, 50, 50), rgb(35, 35, 35));

$glow-size: 12px;

$glow-primary-1: 0 0 $glow-size adjust-color($color-primary-1, $alpha: -0.5);
$glow-primary-2: 0 0 $glow-size adjust-color($color-primary-2, $alpha: -0.5);
$glow-shadow: 0 0 $glow-size $color-shadow;


$img-logo: url(~assets/logo.svg);
$img-dark-logo: url(~assets/logo-white.svg);

$z-level-content: 0;
$z-level-content-top: 10;
$z-level-overlay: 1000;


@mixin small-screen {
  @media screen and (max-width: #{$small-screen-threshold}px) {
    @content;
  }
}

@mixin normal-screen {
  @media screen and (min-width: #{$small-screen-threshold}px) {
    @content;
  }
}
