@import "~theme/workpi.scss";

$break-small: 320px;
$break-large: 1024px;

#slide-pane .slide-toggle-btn {
  position: absolute;
  left: 364px;
}

#slide-pane.active {
  left: -300px;
}

.slide-toggle-btn {
  color: $color-grey-2;
  font-size: 18px;
  width: 15px;
  height: 25px;
  background: $grad-grey-tb;
  border-radius: 3px;
  border: 1px solid $color-grey-2;
  display: block;
  margin-top: 94px;
  :hover {
    cursor: pointer;
    color: $color-dark-grey-2;
  }
}

.profile-side-pane {
  background-color: $color-grey-1;
  border: 1px solid $color-dark-fg;
  outline: 1px solid $color-grey-2;
  box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.4);
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  // old position: fixed;
  // new position: absolute;
  position: absolute;
  // old no left property;
  // new left: 0;
  left: 0;
  // old width: 50%
  // new width: 400px;
  width: 364px;
  transition: 0.4s;

  /*padding-top 64(hight on the navbar) + 5 */
  padding: 69px 5px 5px 5px;
  height: 100%;
}

.user-circle {
  display: none;
}
.grip-lines-vertical {
  display: inline;
}


@media screen and (max-width: 376px) {
  .profile-side-pane {
    position: absolute;
    width: 100%;
  }
  #slide-pane.active {
    left: -364px;
  }
  #slide-pane .slide-toggle-btn {
    position: fixed;
    padding: 5px;
    left: 10px;
    top: 50%;
    z-index: 1;
    width: 25px;
    border-radius: 50%;
  }
  .user-circle {
    display: inline;
  }
  .grip-lines-vertical {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .profile-side-pane {
    width: 364px;
  }
}
