@import "~theme/workpi.scss";

$break-small: 320px;
$break-large: 1024px;

.profile-side-pane {
  background-color: #fff;
  position: fixed;
  width: 50%;
  /*padding-top 64(hight on the navbar) + 5 */
  padding: 69px 5px 5px 5px;
  height: 100%;
}

@media screen and (max-width: 376px) {
  .profile-side-pane {
    position: absolute;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .profile-side-pane {
    width: 25%;
  }
}
