@import "~theme/workpi.scss";

.development-skills-title {
  margin-top: 15px;
  font-weight: bold;
}
.development-skills {
  text-align: left;
  width: 50%;
  margin-left: 25%;
}

ul {
  list-style: none;
}
