@import "~theme/workpi.scss";

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-height: 170px;


  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0.4em;
  }

  #icon {
    margin-right: 5px;
  }

  .user-name {
    font-weight: bold;
    text-transform: capitalize;
  }

  .current-job,
  .briefcase {
    color: $color-primary-2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .forward,
  .building,
  .globe-europe {
    color: $color-grey-2;
  }

  .graduation-cap,
  .award {
    color: rgb(34, 37, 165);
  }

  .map-marker-alt,
  .book-reader {
    color: rgb(202, 102, 181);
  }

  .smile {
    color: rgb(102, 202, 110);
  }

  a {
    color: $color-dark-grey-2;
    text-decoration: none;
    .add-btn {
      color: $color-primary-2;
    }
  }
  a:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

@include small-screen {
  .personal-info {
    text-align: left;
  }
}
