@import "~theme/workpi.scss";

.edit-btn-desktop {
  display: block;
}
.edit-btn-mobile {
  display: none;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-height: 190px;

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0.4em;
  }

  #icon {
    margin: 0 3px 0 6px;
  }

  .user-name {
    font-weight: bold;
    text-transform: capitalize;
  }

  .current-job,
  .briefcase {
    color: $color-primary-2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .forward,
  .building,
  .globe-europe {
    color: $color-grey-2;
  }

  .graduation-cap,
  .award {
    color: rgb(34, 37, 165);
  }

  .map-marker-alt,
  .book-reader {
    color: rgb(202, 102, 181);
  }

  .smile {
    color: rgb(102, 202, 110);
  }

  a {
    color: $color-dark-grey-2;
    text-decoration: none;
    .user-edit {
      color: $color-primary-2;
    }
  }
  a:hover {
    cursor: pointer;
    font-weight: bold;
  }
  .personal-info-items {
    display: inline-block;
  }
  .personal-info-active {
    max-width: 200px;
    line-height: 1.4;
  }
}

@include small-screen {
  .edit-btn-desktop {
    display: none;
    :hover {
      background-color: none;
      box-shadow: none;
    }
  }
  .edit-btn-mobile {
    display: inline;
  }
  .personal-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    height: auto;
    text-align: left;
    .current-job {
      font-size: 8px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .personal-info-items {
      display: block;
      font-size: 12px;
      line-height: 2;
    }
  }
  .personal-info-active {
    display: block;
    line-height: 1.4;
  }
  .personal-info img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin: 0;
  }
}
