@import '~theme/workpi.scss';


.progressBar {
  background-color: $color-grey-2;
  height: 2px;
  width: 100%;
  border: none;
  overflow: hidden;

  :global(.dark) & {
    border-color: $color-dark-fg;

    &> div {
      background: $color-dark-fg;
    }
  }

  &> div {
    height: 100%;
    background: $color-primary-1;
  }
}